@model FurnitureStore.Models.StockModel
@{
    ViewData["Title"] = "Product Create";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h3>
            <span class="las la-user"></span>
            <span>Admin Dashboard</span>
        </h3>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a asp-controller="Admin" asp-action="AdminDashboard">
                    <span class="lab la-elementor"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="AdminProduct" class="active">
                    <span class="las la-shopping-cart"></span>
                    <span>จัดการสินค้า</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="AdminMember">
                    <span class="las la-user-friends"></span>
                    <span>จัดการสมาชิก</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="AdminOrder">
                    <span class="las la-clipboard-list"></span>
                    <span>Order</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">

    <header>

        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Product Edit
        </h2>

        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Search here" />
        </div>

        <div class="user-wrapper">
            <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
                width="40px" height="40px" alt="image">
            <div>
                <h4>Simon Hope</h4>
                <small>Admin</small>
            </div>
        </div>

    </header>
    <main>


        <div class="card">
            <div class="create-form">
                <form asp-action="AdminProductEdit" asp-controller="Admin" method="post">
                    <h2 class="text-center">แก้ไขสินค้า</h2>
                    <input type="hidden" asp-for="Id" />
                    <p>ชื่อสินค้า : </p>
                    <input asp-for="Name" type="text" />

                    <p>รายละเอียด : </p>

                    <input asp-for="Desc" type="text" />

                    <p>ราคา : </p>
                    <input asp-for="Price" type="number" />

                    <p>จำนวน : </p>
                    <input asp-for="Disc" type="number" />

                    <p>รูปภาพ : </p>
                    <input asp-for="Image" type="file" />
                    <div class="btn-center">
                        <button class="btn1" type="submit">บันทึก</button>
                    </div>
                </form>
            </div>


        </div>

    </main>