@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Furstore</h1>
    <h1 class="display-4"><a asp-controller="Home" asp-action="AdminDashboard">AdminDashboard</a></h1>
    <h1 class="display-4"><a asp-controller="Stock" asp-action="Index">All Products</a></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
