@model List<FurnitureStore.Models.StockModel>
@{
    ViewData["Title"] = "Product Create";
}

<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h3>
            <span class="las la-user"></span>
            <span>Admin Dashboard</span>
        </h3>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="AdminDashboard" >
                    <span class="lab la-elementor"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Product" class="active">
                    <span class="las la-shopping-cart"></span>
                    <span>จัดการสินค้า</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-user-friends"></span>
                    <span>จัดการสมาชิก</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">

    <header>

        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Dashboard
        </h2>

        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Search here" />
        </div>

        <div class="user-wrapper">
            <img src="https://images.unsplash.com/photo-1543466835-00a7907e9de1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                width="40px" height="40px" alt="image">
            <div>
                <h4>Simon Hope</h4>
                <small>Admin</small>
            </div>
        </div>

    </header>
    <main>

       
                <div class="card">
                    <div class="create-form">
                    <form action="">
                        <p>ชื่อสินค้า : </p>  
                        <input type="text" name="p_name" id="">
                        
                        <p>รายละเอียด : </p>
                        @* <textarea name="p_desc" cols="30" rows="10"></textarea> *@
                        <input type="text" name="p_desc" id="">
                        
                        <p>ราคา : </p>
                        <input type="number" name="p_price" id="">
                        
                        <p>จำนวน : </p>
                        <input type="number" name="p_qty" id="">
                        
                        <p>รูปภาพ : </p>
                        <input type="file" name="p_img" id="">
                        
                        <button type="button">บันทึก</button>
                    </form>
                    </div>
                     
                       
                </div>

    </main>