@using FurnitureStore.Models;
@using FurnitureStore.Controllers;
@model FurnitureStore.Models.StockModel;

<style>
    .mastercart {
        margin-right: 10vw;
        margin-left: 10vw;
    }

    #custom {}

    .qty {
        width: 3vw;
    }
</style>

<div class="mastercart">
    <h1>Your cart</h1>
    @{
        <table class="custom">
            <tr>
                <th>Product</th>
                <th>Amount</th>
                <th>Price</th>
            </tr>
            @foreach (var product in ViewBag.cart)
            {
                <tr>
                    <td>@product.StockName</td>
                    <td><input asp-for="Price" type="number" value="@product.Qty" required min="0" max="5" class="qty"></td>
                    <td>@product.Price</td>
                    <td><button>delete</button></td>
                    @* <td>@Html.ActionLink("Delete", "DeleteCart", "Stock", new { id = Model.Id }, "")</td> *@
                </tr>
            }
        </table>
    }
</div>
